@font-face {
  src: url("BMHANNAAir_otf.otf");
  font-family: BM HANNA Air OTF;
}

html{
  user-select: none;
}
*{
    margin:0;
    padding:0;
}
button, input, ul{
  all: unset;
}
button {
  touch-action: manipulation;
}
ul, li{
  list-style: none;
}
body{
  height: 100%;
}
div {
  box-sizing: border-box;
}
:root{
  --greyOpacity40: rgba(0, 29, 54, 0.35);
  --grey50: hsl(0, 0%, 70%);
  --grey60: hsl(0, 0%, 60%);
  --grey80: hsl(0, 0%, 40%);
  --grey90: hsl(0, 0%, 20%);
}

.font-h{
  font-family: BM HANNA Air OTF;
}
.font_14{
  font-size: 14px;
}
.font_16{
  font-size: 1rem;
}
.font_20{
  font-size: 1.3rem !important;
}
.font_25{
  font-size: 25px;
}
.font_36{
  font-size: 36px;
}
.font-white{
  color: #fff;
}
.font-shade{
  text-shadow: 1px 1px 0px var(--grey80);
}


.flex{
  display: flex;
  flex-flow: row wrap;
  gap: 5px;
  
}
.flex-btwn{
  justify-content: space-between;
}
.flex-column{
  display: flex;
  flex-flow: column wrap;
  gap: 5px;
}

.bg-gradient::before,
.bg-gradient,
.bg-gradient2,
.stage,
.score,
.notice,
.ctrl{
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left:0;
}
.notice{
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 5vh;
  background-color: var(--greyOpacity40);
  z-index: 100;
}
.ctrl{
  justify-content: center;
  padding: 4vw;
  gap:10vh;
  top:10vh;
  z-index: 80;
}
.score {
  text-align: center;
  font-size: 36px;
  margin-bottom: 2rem;
  z-index: 20;
}
.score > div{
  padding: 10vw;
}


.stage{
  display: grid;
  place-items: center;
  z-index: 40;
}
.stage > ul{
  border-bottom: 1rem solid #000;
}
.stage > ul > li {
    width:100%;
    height:100%;
}
.stage > ul > li >ul {
    display : flex;
}
.stage > ul > li >ul>li {
    width: 1.3vh;
    height : 1.3vh;
    /* outline: 1px solid #ccc; */
}
.bg-gradient{
  background: linear-gradient(#ccc,#eff0f7 80%, #2c3e50);
}
.bg-gradient2{
  background: linear-gradient(#E6E8E8,#DEFAFB 20%,#DEFAFB 85%, #F3FE29);
  z-index: 5;
  transition: opacity 1s linear;
  opacity:0;
}
.bg-transition{
  opacity:1;
}

.btn-circle,
.btn-rectangle{
  border: 1px solid var(--grey50);
  color: var(--grey50);
  background-color:transparent;
  user-select: none;
  transition: 0.1s ease;
}
.btn-circle{
  width: 50px;
  height: 50px;
  border-radius: 26px;
  overflow: hidden;
  text-align: center;

  display: grid;
  place-items: center;
}
.btn-rectangle{
  padding: 3px 10px;
  border-radius: 8px;
}

.btn-circle:hover,
.btn-rectangle:hover{
  border: 1px solid var(--grey80);
}
.btn-select-black{
  background-color: #000;
  border: 1px solid #000;
  color: #fff;
}
.btn-black{
  border-color: var(--grey50);
}


.change,
.left,
.right,
.down{
  width: 50px;
  height: 50px;

  background-repeat: no-repeat;
  background-size: 50px;
}
.change:active,
.left:active,
.right:active,
.down:active{
  filter: brightness(75%);
}
.change{
  background-image: url(src/change.svg);
}
.left,
.right,
.down{
  background-image: url(src/arrow.svg);
}
.left{
  transform: rotate(180deg);
}
.down{
  transform: rotate(90deg);
}








.origin{
  background-color: aqua;
}
.half{
  background-color: green;
}


.orange{
  background-color: #ff6c00;
}
.blue{
  background-color: #007eff;
}
.pink{
  background-color: #ff2f58;
}
.green{
  background-color: #4cff2f;
}
.purple{
  background-color: #b71fff;
}
.salmon{
  background-color: #ffb596;
}
.yellow{
  background-color: #ffc924;
}
.indigo{
  background-color: #2430ff;
}



.reddish{
  background-color: #ffabac;
}
.pale{
  background-color: #cfffff;
}
.dark{
  background-color: #b291a1;
}
.light{
  background-color: #fffeda;
}


.dp-none{
  display: none;
}
